<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Oxygen" rel="stylesheet">
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>

    <title>Bored API</title>

    <style>
        * {
            margin: 0;
            padding: 0;
            font-family: 'Oxygen', sans-serif;
            -webkit-font-smoothing: antialiased;
        }

        .navbar {
            background-color: #6ba3ff;
        }

        .pageTitle {
            background-color: #4a4e56;
            color: #fff;
        }
    </style>
</head>

<body>
    <!-- As a heading -->
    <nav class="navbar text-white py-3">
        <span class="navbar-brand mb-0 h1 font-weight-normal">Bored API</span>
        <span class="navbar-brand mb-0 h1 font-weight-normal"><a href="/login">Login</a></span>
    </nav>

    <div>Succesfully registered</div>
    <span>listing below your activities</span>
    <table class="table">
        <thead>
          <tr>
            <th scope="col">activity</th>
            <th scope="col">type_of_activity</th>
            <th scope="col">price</th>
            <th scope="col">link</th>
            <th scope="col">key</th>
            <th scope="col">accessibility</th>
          </tr>
        </thead>
        <tbody>
            {% for obj in data %}
          <tr>
            <td>{{obj.activity}}</td>
            <td>{{obj.type_of_activity}}</td>
            <td>{{obj.price}}</td>
            <td>{{obj.link}}</td>
            <td>{{obj.key}}</td>
            <td>{{obj.accessibility}}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
        <script>
            var correctCaptcha = function(response) {
        alert(response);
    };
        </script>
</body>

</html>